* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #EDD263;
    font-family: sans-serif;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

.navbar {
    display: flex;
}

.navbar li {
    list-style: none;
    margin: 0 20px;
}

.navbar li a {
    text-decoration: none;
    color: black;
    font-weight: 600;
}

.search-button {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.search-button input {
    padding: 10px;
    font-size: 16px;
    width: 450px;
    height: 30px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

#search-field {
    background-color: #F8F7F5;
}

.search-click {
    color: #fff;
    background-color: #3B2D64;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

#meal-container,
.foods-container {
    max-width: 85%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 25px;
}

.food-item {
    border-radius: 5px;
    width: 300px;
    background-color: #F8F7F5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.food-item img {
    border-radius: 5px 5px 0 0;
    width: 300px;
    height: 250px;
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    -ms-border-radius: 5px 5px 0 0;
    -o-border-radius: 5px 5px 0 0;
}

.food-item h3 {
    padding: 20px;
    text-align: center;
}


.food-details {
    margin-left: 31%;
    margin-bottom: 30px;
    background-color: #fff;
    width: 570px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.food-details img {
    border-radius: 10px 10px 0 0;
    width: 570px;
    height: 400px;
    margin-bottom: 20px;
    -webkit-border-radius: 10px 10px 0 0;
    -moz-border-radius: 10px 10px 0 0;
    -ms-border-radius: 10px 10px 0 0;
    -o-border-radius: 10px 10px 0 0;
}

.food-details h1 {
    margin-bottom: 15px;
    padding-left: 20px;
}

.food-details h3 {
    color: #3B2D64;
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 20px;
    padding-left: 20px;
}

.food-details h5 {
    color: #a4a1a1d9;
    padding-bottom: 5px;
    padding-left: 20px;
}

.no-result {
    display: flex;
    justify-content: center;
    color: rgb(248, 88, 88);
}

.food-item{
    text-align: center;
}
.recipe-btn{
    cursor: pointer;
    border: 1px solid #EDD263;
    border-radius: 5px;
    background-color: #dab10e;
    color: #fff;
    height: 30px;
    width: 150px;
    margin-bottom: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.recipe-btn:hover{
    color: #dab10e;
    border: 1px solid #dab10e;
    background-color: #fff;
}

.recipe-details-div{
    background-color: #ddd;
    margin-bottom: 10px;
    margin-left: 35%;
    display: inline-block;
    border-radius: 5px 0 5px 0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px 0 5px 0;
    -ms-border-radius: 5px 0 5px 0;
    -o-border-radius: 5px 0 5px 0;
}
.recipe-details-div img{
    height: 400px;
    width: 405px;
    border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    -ms-border-radius: 5px 5px 0 0;
    -o-border-radius: 5px 5px 0 0;
}

.recipe-details-div h3,h6{
    margin-top: 5px;
    margin-bottom: 5px;
    width: 380px;
    font-size: 20px;
    margin-left: 5px;
}
.recipe-details-div h6{
    font-size: 16px;
    color: #dab10e;
    margin-bottom: 10px;
}
.recipe-details-div p{
    margin-left: 5px;
     width: 400px;
    color: rgb(122, 120, 120);
    margin-bottom: 5px;
}